@import '../../styles/mixins';

.home-title-bar {
  text-align: center;
  background-color: #333;
  height: @header-height;
  line-height: @header-height;
  font-size: 12px;
  font-weight: lighter;
  color: #aaa;
  text-overflow: ellipsis;
  padding: 0 70px;
  -webkit-app-region: drag;
  -webkit-user-select: none;

  .title-container {
    position: relative;
    display: inline-block;
    &:hover .project-list {
      display: block;

      &.hide-dropdown {
        display: none;
      }
    }
  }
  .project-list {
    display: none;
    position: absolute;
    top: @header-height + 0px;
    z-index: 100;
    width: 500px;
    background-color: #333;
    left: 50%;
    transform: translateX(-50%);

    ul,
    li {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    li {
      padding: 2px 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      &:hover {
        background-color: #111;
      }
    }
  }
  .studio-url {
    color: #777;
  }
}
