@primary-color: #2175bc;
@header-height: 22px;

.abs-fullsize {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.full-page {
  .abs-fullsize;
  top: @header-height;
}